{% extends "base.html" %}
{% block communityinfo %}

<style>
    .red_node {
        fill: #cc2d2d;
        stroke: #fff;
        stroke-width: 2px;
    }

    .blue_node {
        fill: #29b8cc;
        stroke: #fff;
        stroke-width: 2px;
    }

    .yellow_node {
        fill: #f6e632;
        stroke: #fff;
        stroke-width: 2px;
    }

    .green_node {
        fill: #20ee36;
        stroke: #fff;
        stroke-width: 2px;
    }

    .link {
        stroke: #777;
        stroke-width: 1px;
    }
</style>

<script src="//d3js.org/d3.v3.min.js"></script>
<script>

//var width = screen.width,
//    height = screen.height/2;

var radius = 0.003;

d3.json("/static/red_graph.json", function (data) {

    var links = data;
    var nodes = {};

    // parse links to nodes
    links.forEach(function (link) {
        link.source = nodes[link.source] ||
            (nodes[link.source] = {name: link.source});

        link.target = nodes[link.target] ||
            (nodes[link.target] = {name: link.target});
    });

//    console.log(links);
    var width = screen.width,
        height = Math.min(1000 * (links.length * 0.02), screen.height);

    // add svg to body
    var svg = d3.select('body').append('svg')
        .attr('width', width)
        .attr('height', height);

    var force = d3.layout.force()
        .size([width, height])
        .nodes(d3.values(nodes))
        .links(links)
        .on("tick", tick)
        .linkDistance(150)
        .start();

    var link = svg.selectAll('.link')
        .data(links)
        .enter().append('line')
        .attr('class', 'link');

    var node = svg.selectAll('.red_node')
        .data(force.nodes())
        .enter().append('circle')
        .attr('class', 'red_node')
        .attr('r', width * radius);

    function tick(e) {
        node.attr('cx', function (d) {return d.x;})
            .attr('cy', function (d) {return d.y;})
            .call(force.drag);

        link.attr('x1', function (d) {return d.source.x;})
            .attr('y1', function (d) {return d.source.y;})
            .attr('x2', function (d) {return d.target.x;})
            .attr('y2', function (d) {return d.target.y;})
    }
});


d3.json("/static/blue_graph.json", function (data) {

    var links = data;
    var nodes = {};

    // parse links to nodes
    links.forEach(function (link) {
        link.source = nodes[link.source] ||
            (nodes[link.source] = {name: link.source});

        link.target = nodes[link.target] ||
            (nodes[link.target] = {name: link.target});
    });

    var width = screen.width,
        height = Math.min(1000 * (links.length * 0.02), screen.height);

    // add svg to body
    var svg = d3.select('body').append('svg')
        .attr('width', width)
        .attr('height', height);

    var force = d3.layout.force()
        .size([width, height])
        .nodes(d3.values(nodes))
        .links(links)
        .on("tick", tick)
        .linkDistance(150)
        .start();

    var link = svg.selectAll('.link')
        .data(links)
        .enter().append('line')
        .attr('class', 'link');

    var node = svg.selectAll('.blue_node')
        .data(force.nodes())
        .enter().append('circle')
        .attr('class', 'blue_node')
        .attr('r', width * radius);

    function tick(e) {
        node.attr('cx', function (d) {return d.x;})
            .attr('cy', function (d) {return d.y;})
            .call(force.drag);

        link.attr('x1', function (d) {return d.source.x;})
            .attr('y1', function (d) {return d.source.y;})
            .attr('x2', function (d) {return d.target.x;})
            .attr('y2', function (d) {return d.target.y;})
    }
});


d3.json("/static/yellow_graph.json", function (data) {

    var links = data;
    var nodes = {};

    console.log(links);

    // parse links to nodes
    links.forEach(function (link) {
        link.source = nodes[link.source] ||
            (nodes[link.source] = {name: link.source});

        link.target = nodes[link.target] ||
            (nodes[link.target] = {name: link.target});
    });

    var width = screen.width,
        height = Math.min(1000 * (links.length * 0.02), screen.height);


    // add svg to body
    var svg = d3.select('body').append('svg')
        .attr('width', width)
        .attr('height', height);

    var force = d3.layout.force()
        .size([width, height])
        .nodes(d3.values(nodes))
        .links(links)
        .on("tick", tick)
        .linkDistance(150)
        .start();

    var link = svg.selectAll('.link')
        .data(links)
        .enter().append('line')
        .attr('class', 'link');

    var node = svg.selectAll('.yellow_node')
        .data(force.nodes())
        .enter().append('circle')
        .attr('class', 'yellow_node')
        .attr('r', width * radius);

    function tick(e) {
        node.attr('cx', function (d) {return d.x;})
            .attr('cy', function (d) {return d.y;})
            .call(force.drag);

        link.attr('x1', function (d) {return d.source.x;})
            .attr('y1', function (d) {return d.source.y;})
            .attr('x2', function (d) {return d.target.x;})
            .attr('y2', function (d) {return d.target.y;})
    }
});


d3.json("/static/green_graph.json", function (data) {

    var links = data;
    var nodes = {};

    // parse links to nodes
    links.forEach(function (link) {
        link.source = nodes[link.source] ||
            (nodes[link.source] = {name: link.source});

        link.target = nodes[link.target] ||
            (nodes[link.target] = {name: link.target});
    });

    var width = screen.width,
        height = Math.min(1000 * (links.length * 0.02), screen.height);

    console.log(links);

    // add svg to body
    var svg = d3.select('body').append('svg')
        .attr('width', width)
        .attr('height', height);

    var force = d3.layout.force()
        .size([width, height])
        .nodes(d3.values(nodes))
        .links(links)
        .on("tick", tick)
        .linkDistance(150)
        .start();

    var link = svg.selectAll('.link')
        .data(links)
        .enter().append('line')
        .attr('class', 'link');

    var node = svg.selectAll('.green_node')
        .data(force.nodes())
        .enter().append('circle')
        .attr('class', 'green_node')
        .attr('r', width * radius);

    function tick(e) {
        node.attr('cx', function (d) {return d.x;})
            .attr('cy', function (d) {return d.y;})
            .call(force.drag);

        link.attr('x1', function (d) {return d.source.x;})
            .attr('y1', function (d) {return d.source.y;})
            .attr('x2', function (d) {return d.target.x;})
            .attr('y2', function (d) {return d.target.y;})
    }
});

</script>



<!--<div class="container">-->
    <!--<div class="starter-template">-->
        <!--<div class="row" style="height:10vh;">-->
            <!--<div class="col-md-10 col-md-offset-1">-->
                <!--<table class="table">-->
                    <!--<thead>-->
                    <!--<tr>-->
                        <!--<th>Red Transitivity</th>-->
                        <!--<th>Blue Transitivity</th>-->
                        <!--<th>Yellow Transitivity</th>-->
                        <!--<th>Green Transitivity</th>-->
                        <!--<th>Black Transitivity</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                    <!--<tr>-->
                        <!--<td>{{output.red_edges}}</td>-->
                        <!--<td>{{output.blue_edges}}</td>-->
                        <!--<td>{{output.yellow_edges}}</td>-->
                        <!--<td>{{output.green_edges}}</td>-->
                        <!--<td>{{output.red_edges_response}}</td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
{% endblock %}